html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* cegah scroll jadi horizontal */
  width: 100%;
  height: 100%;
  box-sizing: border-box; /*  padding dan border diitung dalam ukuran elemen */
}

body {
  font-family: "Poppins", Arial, sans-serif;
  background: linear-gradient(to right, rgb(255, 255, 255), rgb(254, 215, 173));
  animation: fadeIn 1.5s ease-in-out;
  padding: 0 10px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
  color: rgb(30, 19, 0);
  text-shadow: 0 0 10px rgb(60, 37, 1);
  font-size: 24px;
}

.gambar-container {
  margin: 0 auto 30px auto;
  background-color: rgb(248, 240, 230);
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(151, 91, 91, 0.1);
  animation: fadeIn 2s ease-in-out;
  width: 100%;
  max-width: 100%; /* Pastikan lebar gambar-container 100% */
  box-sizing: border-box; /* Untuk memastikan padding dihitung dalam lebar */
}

.judul-gambar {
  font-weight: bold;
  margin-bottom: 15px;
  font-size: 22px;
  color: #333;
  animation: fadeIn 2.5s ease-in-out;
  text-shadow: 0 0 10px rgb(109, 67, 0);
}

.konten-gambar {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
}

.konten-gambar img {
  width: 100%;
  max-width: 100%;
  border-radius: 20px;
  animation: fadeIn 1.5s ease-in-out;
  height: auto;
}

.konten-gambar .deskripsi {
  width: 48%;
  font-size: 16px;
  color: #555;
  animation: fadeIn 1.5s ease-in-out 0.5s;
  text-align: justify;
  margin-top: 10px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* untuk ponsel*/
@media (max-width: 884px) {
  body {
    padding: 0 10px;
  }

  .konten-gambar {
    flex-direction: column;
    width: 100%;
  }

  .konten-gambar img {
    width: 100vw;
    height: auto;
  }

  .konten-gambar .deskripsi {
    width: 100%;
    font-size: 18px;
    margin-top: 10px;
  }

  .gambar-container {
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }

  .judul-gambar {
    font-size: 22px;
  }

  .deskripsi {
    font-size: 16px;
  }
}

@media only screen and (min-width: 1024px) {
  .gambar-container {
    width: 800px;
  }
}
